* {
  padding: 0;
  margin: 0;
}

/* body {
} */

header {
  width: 90%;
  margin: auto;
  /* height: 60px; */
  /* border-bottom: 2px solid green; */
}

.heading-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  /* margin: 5px; */
  /* border: 1px solid black; */
}

.heading {
  font-family: "Comme";
  color: rgb(117 18 58);
  margin-bottom: 8px;
}

/* .heading-section a {
  font-size: 18px;
  padding-right: 4px;
} */

header nav ul {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  margin-bottom: 10px;
  /* margin: 3px 0; */
  /* margin-bottom: 5px; */
  /* padding-bottom: 3px;// */
}

header nav ul li {
  /* text-decoration: none; */
  list-style: none;
  font-size: 20px;
}

header nav ul li i {
  color: rgb(156, 156, 156);
}

.activate {
  color: rgb(117 18 58);
}

.create-post a {
  display: flex;
  padding: 12px 10px;
  border-top: 1px solid rgb(193, 193, 193);
}

.create-post a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.create-post a input {
  height: 40px;
  margin: 6px 10px 0;
  width: 80%;
  border-radius: 24px;
  padding-left: 16px;
  background-color: rgb(238, 236, 236);
  border: none;

  /* margin-top: 10px; */
}

.create-post a input::placeholder {
  color: black;
}

.create-post a i {
  font-size: 24px;
  margin-top: 5px;
  color: gray;
}

.create-post a small {
  font-size: 13px;
  /* margin-top: -3px; */
}

#main-container {
  border-top: 3px solid rgb(201, 201, 201);
  /* height: 100vh; */
  width: 100%;
}

#main-container .timeline-post {
  /* border: 2px solid green; */
  /* border-bottom: 3px solid rgb(156, 156, 156); */
  /* height: 50px; */
  /* width: 90%; */
  /* padding: 0 10px; */
  margin: auto;
  /* padding: 16px 0; */
  margin-top: 10px;
  /* width: 90%; */
}

#main-container .timeline-post .timeline-details {
  /* display: flex; */
  justify-content: space-between;
  border: 2px solid red;
}

.post-profile-details {
  padding: 0 15px;
  display: flex;
  /* border: 2px solid red; */

  justify-content: space-between;
  margin-bottom: 8px;
}

.post-user-profile {
  display: flex;
  /* border: 2px solid red; */
  width: 80%;
}

.post-content {
  padding: 0 10px;
}

.post-profile-details .post-profile-img {
  width: 60px;
  height: 60px;
}

.post-profile-img img {
  width: 100%;
  border-radius: 50%;
}

.post-profile-details .post-profile-name {
  width: 60%;
  /* border: 2px solid yellow; */
  margin-left: 5px;
  margin-top: 12px;
  padding-left: 5px;
}

.post-profile-name h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Comme";
}

.post-profile-name span {
  /* c; */
  font-size: 12px;
  color: rgb(88, 88, 88);
}

.post-profile-details .post-togle-btn {
  text-align: right;
  /* border: 2px solid orange; */
  margin-right: 0;
  height: 20px;
  margin-top: 3px;
  /* align-items: right; */
  /* float: right; */
}

.post-togle-btn button {
  background-color: transparent;
  border: none;
}

.post-profile-details .post-img {
  width: 100%;
}

.post-img img {
  margin: 8px 0 3px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
}

.timeline-post .like-comment {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  /* height: 30px; */
  width: 100%;
}

.like-comment .like-comment-box {
  /* height:; */
  background-color: rgb(211, 211, 211);
  text-align: center;
  /* border: 2px solid green; */
  /* margin: 5px; */
  margin-bottom: 10px;
  height: 32px;
  padding-top: 8px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
}

.like-comment-box i {
  color: rgb(117 18 58);
}

@media screen and (min-width: 460px) {
  body {
    width: 460px;
  }
}

@media screen and (min-width: 1200px) {
}
