* {
  padding: 0;
  margin: 0;
}

/* heading section */
.heading {
  margin-top: 20px;
  font-family: "Comme";
  padding-bottom: 9px;
  color: rgb(117 18 58);

  font-weight: bold;
}

/* Login section styles */
.login-section {
  width: 80%;
  margin: 20px auto;
  /* height: 10vh; */
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2,
p {
  text-align: center;
}

p a {
  text-decoration: none;
  /* color: bl; */
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
  /* color: blue; */
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 13px auto;
  box-sizing: border-box;

  /* border: 0.6px solid; */
}

#login-form {
  border: 2px solid red;
  padding-top: 3px;
  width: 100%;
  /* padding: 1px; */
}

button {
  /* background-color: #4caf50; */
  /* background-color: rgb(142, 29, 142); */
  background-color: rgb(117 18 58);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.google-login-btn {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

button a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  /* heading section /////////////////*/
  .heading {
    /* margin-top: 20px; */
    /* font-family: "Comme"; */
    /* padding-bottom: 2px; */
    /* color: rgb(117 18 58); */
    /* font-weight: bold; */
    font-size: 24px;
  }
}
