<header>
  <div id="logo">
    <h1>
      <a href="/">app</a>
    </h1>
  </div>

  <ul id="header-ul">
    <% if(locals.user) {%>
    <li>
      <a href="/user/profile/<%= user._id%>"><%= user.name %></a>
    </li>
    <li>
      <a href="/user/sign-out">Sign Out</a>
    </li>
    <%} else {%>
    <li>
      <a href="/user/sign-in">Sign In</a>
    </li>
    <li>
      <a href="/user/sign-up">Sign Up</a>
    </li>
    <% } %>
  </ul>
</header>
