<link rel="stylesheet" href="./css/home.css" />

<h1>project2 / Home</h1>

<section id="feed-posts">
  <h4>posts</h4>
  <% if(locals.user) { %>
  <form action="/post/create" id="new-posts-form" method="post">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type hear..."
      required
    ></textarea>
    <input type="submit" value="post" />
  </form>
  <% } %>

  <ul>
    <% for(post of posts) { %> <%- include('_post') -%> <% } %>
  </ul>
</section>

<section id="friend-list">
  <h4>Friends</h4>
  <% for(u of all_users) { %>

  <P>
    <a href="/user/profile/<%= u.id %>"> <%= u.name %> </a>
  </P>

  <% } %>
</section>
