<h1>project2 / Home</h1>

<section id="feed-posts">
  <h4>posts</h4>
  <% if(locals.user) { %>
  <form action="/post/create" id="new-posts-form" method="post">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type hear..."
    ></textarea>
    <input type="submit" value="post" />
  </form>
  <% } %>

  <ul>
    <% for(data of posts) { %>
    <li>
      <p>
        <%= data.content %> <br />
        <small><%= data.user.name %></small>
      </p>
    </li>

    <% } %>
  </ul>
</section>
