<h1>project2 / Home</h1>

<section id="feed-posts">
  <h4>posts</h4>
  <% if(locals.user) { %>
  <form action="/post/create" id="new-posts-form" method="post">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type hear..."
    ></textarea>
    <input type="submit" value="post" />
  </form>
  <% } %>

  <ul>
    <% for(post of posts) { %>
    <li>
      <p>
        <%= post.content %> <br />
        <small><%= post.user.name %></small>
      </p>

      <div>
        <% if(locals.user) { %>
        <form action="/comment/create" method="post">
          <input type="text" name="content" placeholder="text your comment" />
          <input type="hidden" name="post" value="<%= post._id %>" />
          <input type="submit" name="add comment" />
        </form>
        <%}%>
      </div>
    </li>

    <% } %>
  </ul>
</section>
